/* CSS Document */

.grid-container
{
  	display:grid;
  	grid-template-columns:49.7% 49.7%;
	column-gap:10px;
	row-gap:10px;
}

.grid-item
{
	text-align:center;
	border-radius:20px;
}

h1 { font-size:3vw; }
h2 { font-size:5vw; }